<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <title>condition</title>
                    
                    <!-- Bootstrap core CSS -->
                    <link href="css/bootstrap.css" rel="stylesheet">
                        
                        <!-- Google Web Fonts CSS -->
                        <link href="http://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
                            
                            <!-- Original CSS -->
                            <link href="css/styles.css" rel="stylesheet">
                                
                                <!--[if lt IE 9]>
                                 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                                 <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                                 <![endif]-->
                                
    </head>
    <body>
        <header id="header" class="navbar navbar-inverse navbar-static-top" role="banner">
            <div class="container1">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-top">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Pink Time！</a>
                </div>
                <nav class="collapse navbar-collapse navbar-top navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
                        <li class="active"><a href="lunchrequests/new"><span class="glyphicon glyphicon-user"></span>&nbsp;Condition</a></li>
                        <li><a href="/users/<%= current_user.id %>"><span class="glyphicon glyphicon-pencil"></span>&nbsp;plofile</a></li>
                        <li><a href="./list.html"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Message</a></li>
                        <li><a href="/rankings"><span class="glyphicon glyphicon-tower"></span>&nbsp;Ranking</a></li>
                        <li><a href="/users/sign_out"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <div id="header">
            <br>
            <div id="content-present" class="foldtl container">
                <br><br><br>
                <div class="col-xs-12 col-md-12 text-center">
                    <h2>My Condition</h2>
                </div>
                <br><br><br><br>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-xs-12 col-md-3 text-right">
                        <img src="../../img/condition.jpg" class="img-responsive img-rounded" width="250" height="350" alt="" style="margin-left:30px; margin-top:10px;" />
                    </div>
                    <div class="col-xs-12 col-md-4 text-left" >
                        <h4 class="lead" style="margin-bottom:20px; margin-left:30px;">My Profile</h4>
                        <h4 style="margin-left:30px;">ニックネーム　:&nbsp;くっちゃん</h4>
                        <h4 style="margin-left:30px;">生年月日　　　:&nbsp;1994年12月3日</h4>
                        <h4 style="margin-left:30px;">性別　　　　　:&nbsp;男</h4>
                        <h4 style="margin-left:30px;">キャンパス　　:&nbsp;京田辺<h4>
                            <h4 style="margin-left:30px;">学部　　　　　:&nbsp;理工学部</h4>
                            <h4 style="margin-left:30px;">趣味　　　　　:&nbsp;ショッピング</h4>
                            </div>
                    <div class="col-md-2"></div>
                </div>
                <hr/>
                
                <%= form_tag('/lunchrequests', method: :post, class:"form-horizontal", role:"form") do %>
                    <div class="form-group" style="margin-left:20px;">
                        <label for="inputName" class="col-sm-4 control-label">日付</label>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2" >
                                    <select class="form-control" id="address1" name="address1">
                                        <option value="" selected="selected">選択</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                                <h5 class="col-sm-1 col-xs-1 " >月</h5>
                                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
                                    <select class="form-control" id="address1" name="address1">
                                        <option value="" selected="selected">選択</option>
                                        <option value="d1">1</option>
                                        <option value="d2">2</option>
                                        <option value="d3">3</option>
                                        <option value="d4">4</option>
                                        <option value="d5">5</option>
                                        <option value="d6">6</option>
                                        <option value="d7">7</option>
                                        <option value="d8">8</option>
                                        <option value="d9">9</option>
                                        <option value="d10">10</option>
                                        <option value="d11">11</option>
                                        <option value="d12">12</option>
                                        <option value="d13">13</option>
                                        <option value="d14">14</option>
                                        <option value="d15">15</option>
                                        <option value="d16">16</option>
                                        <option value="d17">17</option>
                                        <option value="d18">18</option>
                                        <option value="d19">19</option>
                                        <option value="d20">20</option>
                                        <option value="d21">21</option>
                                        <option value="d22">22</option>
                                        <option value="d23">23</option>
                                        <option value="d24">24</option>
                                        <option value="d25">25</option>
                                        <option value="d26">26</option>
                                        <option value="d27">27</option>
                                        <option value="d28">28</option>
                                        <option value="d29">29</option>
                                        <option value="d30">30</option>
                                        <option value="d31">31</option>
                                    </select>
                                </div>
                                <h5 class="col-sm-1 col-xs-1 ">日</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group" style="margin-left:20px;">
                        <label for="inputName" class="col-sm-4 control-label">時間</label>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2" >
                                    <select class="form-control" id="address1" name="address1">
                                        <option value="" selected="selected">選択</option>
                                        <option value="h8">08</option>
                                        <option value="h9">09</option>
                                        <option value="h10">10</option>
                                        <option value="h11">11</option>
                                        <option value="h12">12</option>
                                        <option value="h13">13</option>
                                        <option value="h14">14</option>
                                        <option value="h15">15</option>
                                        <option value="h16">16</option>
                                        <option value="h17">17</option>
                                        <option value="h18">18</option>
                                        <option value="h19">19</option>
                                        <option value="h20">20</option>
                                    </select>
                                </div>
                                <h5 class="col-sm-1 col-xs-1 " >：</h5>
                                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
                                    <select class="form-control" id="address1" name="address1">
                                        <option value="" selected="selected">選択</option>
                                        <option value="m0">00</option>
                                        <option value="m5">05</option>
                                        <option value="m10">10</option>
                                        <option value="m15">15</option>
                                        <option value="m20">20</option>
                                        <option value="m25">25</option>
                                        <option value="m30">30</option>
                                        <option value="m35">35</option>
                                        <option value="m40">40</option>
                                        <option value="m45">45</option>
                                        <option value="m50">50</option>
                                        <option value="m55">55</option>
                                    </select>
                                </div>
                                <h5 class="col-sm-1 col-xs-1 ">～</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group" style="margin-left:20px;">
                        <label for="inputName" class="col-sm-4 control-label">場所</label>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-xs-10 col-sm-5 col-md-4 col-lg-4" >
                                    <select class="form-control" id="address1" name="place">
                                        <option value="" selected="selected">選択</option>
                                        <option value="今出川">今出川キャンパス内</option>
                                        <option value="京田辺">京田辺キャンパス内</option>
                                        <option value="今出川1">今出川キャンパス周辺</option>
                                        <option value="京田辺2">京田辺キャンパス周辺</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group" style="margin-left:20px;">
                        <label for="inputName" class="col-sm-4 control-label">人数</label>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-xs-9 col-sm-5 col-md-4 col-lg-4" >
                                    <input type="text" class="form-control" id="inputName" name="pepole">
                                        </div>
                                <div class="col-xs-1 col-sm-7">
                                    <h5>人</h5>
                                </div>
                                <div class="col-xs-2"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group" style="margin-left:20px;">
                        <label for="inputName" class="col-sm-4 control-label">上限金額</label>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-xs-9 col-sm-5 col-md-4 col-lg-4" >
                                    <input type="text" class="form-control" id="inputName">
                                        </div>
                                <div class="col-xs-1 col-sm-7">
                                    <h5>円</h5>
                                </div>
                                <div class="col-xs-2"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group" style="margin-left:20px;">
                        <label for="inputComment" class="control-label col-sm-4">ひとこと</label>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-7 col-xs-11">
                                    <textarea class="form-control" rows="3" placeholder="何かメッセージをお書きください。"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <hr/>
                    <br>
                    
                    <div class="form-group" style="margin-right:10px;">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-success btn-lg">リストに投稿</button>
                        </div>
                    </div>
                    <br>
                    <br>
                <% end %>
                
            </div>
        </div>
        
        <hr />
        <footer>
            <div class="container text-center">
                <small>このサイトはコミュニティの場を提供するサイトです。</small>
                <p>Copyright &copy; 2016 Hope Collective Inc. All Rights Reserved.</p>
            </div>
        </footer>
        <br>
        <br>
        
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="js/bootstrap.js"></script>
        
        
    </body>
</html>
