@charset "UTF-8";

/*//////////////////////////////////////////////////////////////////////////////

styles.css

--------------------------------------------------------------------------------

 000. common
 001. header
 002. nav
 003. content-profile
 004. content-present
 005. content-item
 006. content-photo
 007. footer
 008. imagelightbox

//////////////////////////////////////////////////////////////////////////////*/

/* 000. common
 * サイトで共通のスタイルを定義します
 * ========================================================================== */
body {
	height                : 100% !important;
	color                 : #2d2d2d;
	font-family           : 'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
	background: 	url(../img/back.jpg) no-repeat 0 0;
	background-size       : cover;
	background-attachment : fixed;

	}

	.body1 {
		height                : 100% !important;
		color                 : #2d2d2d;
		font-family           : 'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
		background            : url(../img/bg-body.jpg) no-repeat 0 0;
		background-size       : cover;
		background-attachment : fixed;

		}


/* 001. header
 * ヘッダーのスタイルを定義します
 * ========================================================================== */
#header {
	padding : 10px;
	}
	#header .container {
		position      : relative;
		padding       : 10px;
		border-radius : 10px;
		box-shadow    : 80px 80px 100px rgba(0,0,0,0.4);
		background    : rgba(255,255,255,0.4);
		}

		#header .container1 {
			position      : relative;
			padding       : 10px;
			border-radius : 10px;
			box-shadow    : 0 0 6px rgba(0,0,0,0.0);
			background    : rgba(255,255,255,0.0);
			}

			#header .container2 {
				position      : relative;
				padding       : 10px;
				border-radius : 10px;
				box-shadow    : 80px 80px 100px rgba(0,0,0,0.4);
				background    : rgba(255,255,255,0.4);
				}

		#header .jumbotron {
			display         : table;
			width           : 100%;
			margin-bottom   : 0;
			padding-top     : 20px;
			padding-bottom  : 20px;
			background      : url(../img/image-main.jpg) no-repeat 0 0;
			background-size : 100% auto;
			}
			#header .jumbotron > .inner {
				display         : table-cell;
				vertical-align  : middle;
				}
				#header  h1{
					text-align  : center;
					margin-top  : 0;
					color       : #ffffff;
					font-size   : 21px;
					font-family : "Dosis",'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
					font-weight : 900;
					text-shadow : 0 0 5px rgba(0,0,0,0.8);
					}
					#header h2 {
						text-align  :center;
						margin-top  : 15px;
						color       : #ffffff;
						font-size   : 19px;
						font-family : "Dosis",'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
						font-weight : 800;
						text-shadow : 0 0 5px rgba(0,0,0,0.8);
						}
						#header h3 {
							margin-top  : 15px;
							color       : #ffffff;
							font-size   : 24px;
							font-family : "Dosis",'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
							font-weight : 800;
							text-shadow : 0 0 5px rgba(0,0,0,0.8);
							}

				#header p {
					margin-bottom : 0;
					color         : #ffffff;
					font-size     : 14px;
					font-weight 	: 900;
					text-shadow   : 0 0 5px rgba(0,0,0,0.8);
					}
		#header .navbar-toggle {
			position      : absolute;
			right         : 20px;
			top           : 20px;
			float         : none;
			width         : 40px;
			height        : 40px;
			margin        : 0;
			padding       : 9px 8px;
			border-radius : 20px;
			background    : #ffffff;
			}
			#header .navbar-toggle .icon-bar {
				height     : 3px;
				background : #999999;
				}

@media (min-width : 480px) {
#header {
	padding : 20px 20px 10px 20px;
	}
	#header .container {}
	#header .container1 {}
	#header .container2 {}
		#header .jumbotron {
			padding-top    : 40px;
			padding-bottom : 40px;
			}
			#header h1 {
				font-size : 25px;
				}
				#header h2 {
					font-size : 22px;
					}
			#header p {
				font-size : 20px;
				}
}
@media (min-width : 768px) {
#header {}
	#header .container {}
	#header .container1 {}
	#header .container2 {}
		#header .jumbotron {
			padding : 80px 20px;
			}
			#header h1 {
				font-size : 37px;
				}
				#header h2 {
					font-size : 34px;
					}
			#header p {
				margin-top : 20px;
				font-size  : 22px;
				}
}
@media (min-width : 992px) {
#header {}
	#header .container {}
	#header .container1 {}
	#header .container2 {}
		#header .jumbotron {
			padding : 120px 20px;
			}
			#header h1 {
				font-size : 47px;
				}
				#header h2 {
					font-size : 44px;
					}
}
@media (min-width : 1200px) {
#header {}
	#header .container {}
	#header .container1 {}
		#header .container2 {}
		#header .jumbotron {
			padding : 140px 40px;
			}
			#header h1 {
				font-size : 58px;
				}
				#header h2 {
					font-size : 55px;
					}
			#header p {
				margin-top : 30px;
				font-size  : 26px;
				}
}

/* 002. nav
 * ナビゲーションのスタイルを定義します
 * ========================================================================== */
#nav {
	display : none;
	}
#navsp {
	border-top : none;
	background : rgba(0,0,0,0.3);
	box-shadow : 0 0 8px rgba(0,0,0,0.4) inset;
	}
	#navsp .nav {}
		#navsp .nav > li {}
		#navsp .nav > li.active {
			background : rgba(0,0,0,0.5);
			}
			#navsp .nav > li a {
				color         : #ffffff;
				font-family   : "Dosis",'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
				font-size     : 18px;
				font-weight   : 400;
				}

@media (min-width : 480px) {}
@media (min-width : 768px) {
#nav {
	display       : block;
	position      : relative;
	width         : 100%;
	margin-bottom : 0;
	border        : none;
	border-radius : 0;
	box-shadow    : 0 0 6px rgba(0,0,0,0.4);
	}
.fixedMenu #nav {
	position : fixed;
	top      : 0;
	z-index  : 10;
	}
	#nav .nav {
		float          : none;
		width          : 100%;
		padding-top    : 5px;
		padding-bottom : 5px;
		text-align     : center;
		}
		#nav .nav > li {
			display : inline-block;
			float   : none;
			}
		#nav .nav > li + li {
			margin-left : 30px;
			}
			#nav .nav > li a {
				padding       : 10px 40px;
				border-radius : 6px;
				font-family   : "Dosis",'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
				font-size     : 22px;
				font-weight   : 400;
				}
#navsp {
	display : none !important;
	}
}

/* 003. content-profile
 * Profileのスタイルを定義します
 * ========================================================================== */
#content-profile {
	padding : 10px;
	}
.fixedMenu #content-profile {
	margin-top : 50px;
	}
	#content-profile .container {
		position      : relative;
		padding       : 20px;
		border-radius : 10px;
		box-shadow    : 0 0 6px rgba(0,0,0,0.4);
		background    : rgba(255,255,255,0.4);
		}

		#content-profile .container2 {
			position      : relative;
			padding       : 20px;
			border-radius : 10px;
			box-shadow    : 0 0 6px rgba(0,0,0,0.4);
			background    : rgba(255,255,255,0.4);
			}

		#content-profile h1 {
			margin         : 0;
			color          : #333333;
			font-family    : "Dosis",'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
			font-size      : 42px;
			font-weight    : 700;
			line-height    : 1;
			letter-spacing : 0.1em;
			}
			#content-profile h1:after {
				content        : "";
				display        : inline-block;
				position       : relative;
				top            : -3px;
				width          : 18px;
				height         : 6px;
				margin-left    : 0.1em;
				border-radius  : 3px;
				vertical-align : middle;
				background     : #f0b209;
				}
		#content-profile h2 {
			font-family : "Dosis",'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
			font-size   : 24px;
			font-weight : 400;
			}
		#content-profile .section-data {
			padding       : 20px;
			border-radius : 8px;
			background    : rgba(255,255,255,0.8);
			box-shadow    : 0 0 6px rgba(0,0,0,0.4);
			}
			#content-profile .section-data > dl {
				display : table;
				width   : 100%;
				margin  : 0;
				}
			#content-profile .section-data > dl + dl {
				margin-top : 10px;
				}
				#content-profile .section-data > dl dt {
					display : table-cell;
					width   : 5em;
					}
				#content-profile .section-data > dl dd {
					display      : table-cell;
					padding-left : 1em;
					text-indent  : -1em;
					}
		#content-profile .table {
			margin-bottom : 0;
			border-color  : #999999;
			}
			#content-profile .table th,
			#content-profile .table td {
				border-color : inherit;
				}

@media (min-width : 480px) {
#content-profile {
	padding : 10px 20px 20px 20px;
	}
}

/* 004. content-present
 * Presentのスタイルを定義します
 * ========================================================================== */
#content-present {
	padding : 10px;
	}
	#content-present .container {
		position      : relative;
		padding       : 20px;
		border-radius : 10px;
		box-shadow    : 0 0 6px rgba(0,0,0,0.4);
		background    : rgba(255,255,255,0.4);
		}

		#content-present .container2 {
			position      : relative;
			padding       : 20px;
			border-radius : 10px;
			box-shadow    : 0 0 6px rgba(0,0,0,0.4);
			background    : rgba(255,255,255,0.4);
			width:	75%;
			margin-left: auto;
			margin-right: auto;
			}

		#content-present h1 {
			margin-top     : 0;
			color          : #333333;
			font-family    : "Dosis",'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
			font-size      : 42px;
			font-weight    : 700;
			line-height    : 1;
			letter-spacing : 0.1em;
			}
			#content-present h1:after {
				content        : "";
				display        : inline-block;
				position       : relative;
				top            : -3px;
				width          : 18px;
				height         : 6px;
				margin-left    : 0.1em;
				border-radius  : 3px;
				vertical-align : middle;
				background     : #f0b209;
				}
		#content-present .col-xs-12 + .col-xs-12 {
			margin-top : 0px;
			}

		#content-present .col-sm-4 {
			text-align: right;
		}


		#content-present img {
			max-width: 100%;
			height: auto;
		}
		#content-present .section-data {
			padding       : 20px;
			border-radius : 8px;
			background    : rgba(255,255,255,0.8);
			box-shadow    : 0 0 6px rgba(0,0,0,0.4);
			-webkit-box-sizing : border-box;
			-moz-box-sizing    : border-box;
			box-sizing         : border-box;
			}
			#content-present h2 {
				margin-top     : 0;
				margin-bottom  : 0.5em;
				font-family    : "Dosis",'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
				font-size      : 20px;
				font-weight    : 700;
				line-height    : 1.2;
				}
				#content-present h2 br {
					display : block;
					}

@media (min-width : 480px) {
#content-present {
	padding : 10px 20px 20px 20px;
	}
	#content-present .section-data {}
		#content-present h2 {
			font-size : 28px;
			}
			#content-present h2 br {
				display : block;
					}
}
@media (min-width : 768px) {}
@media (min-width : 992px) {
#content-present {}
	#content-present .col-xs-12 + .col-xs-12 {
		margin-top : 0;
		}
}
@media (min-width : 1200px) {}




/* 005. content-list
 * Itemのスタイルを定義します
 * ========================================================================== */
 /* 004. content-present
  * Presentのスタイルを定義します
  * ========================================================================== */
 #content-list {
 	padding : 10px;
 	}
 	#content-list .container {
 		position      : relative;
 		padding       : 20px;
 		border-radius : 10px;
 		box-shadow    : 0 0 6px rgba(0,0,0,0.4);
 		background    : rgba(255,255,255,0.4);
 		}

 		#content-list .container2 {
 			position      : relative;
 			padding       : 20px;
 			border-radius : 10px;
 			box-shadow    : 0 0 6px rgba(0,0,0,0.4);
 			background    : rgba(255,255,255,0.4);
 			width:	75%;
 			margin-left: auto;
 			margin-right: auto;
 			}

 		#content-list h1 {
 			margin-top     : 0;
 			color          : #333333;
 			font-family    : "Dosis",'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
 			font-size      : 42px;
 			font-weight    : 700;
 			line-height    : 1;
 			letter-spacing : 0.1em;
 			}
 			#content-list h1:after {
 				content        : "";
 				display        : inline-block;
 				position       : relative;
 				top            : -3px;
 				width          : 18px;
 				height         : 6px;
 				margin-left    : 0.1em;
 				border-radius  : 3px;
 				vertical-align : middle;
 				background     : #f0b209;
 				}
 		#content-list .col-xs-12 + .col-xs-12 {
 			margin-top : 0px;
 			}

 		#content-list .col-sm-4 {
 			text-align: right;
 		}


 		#content-list img {
 			max-width: 100%;
 			height: auto;
 		}
 		#content-list .section-data {
 			padding       : 20px;
 			border-radius : 8px;
 			background    : rgba(255,255,255,0.8);
 			box-shadow    : 0 0 6px rgba(0,0,0,0.4);
 			-webkit-box-sizing : border-box;
 			-moz-box-sizing    : border-box;
 			box-sizing         : border-box;
 			}
 			#content-list h2 {
 				margin-top     : 0;
 				margin-bottom  : 0.5em;
 				font-family    : "Dosis",'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
 				font-size      : 20px;
 				font-weight    : 700;
 				line-height    : 1.2;
 				}
 				#content-list h2 br {
 					display : block;
 					}

 @media (min-width : 480px) {
 #content-list {
 	padding : 10px 20px 20px 20px;
 	}
 	#content-list .section-data {}
 		#content-list h2 {
 			font-size : 28px;
 			}
 			#content-list h2 br {
 				display : block;
 					}
 }
 @media (min-width : 768px) {}
 @media (min-width : 992px) {
 #content-list {}
 	#content-list .col-xs-12 + .col-xs-12 {
 		margin-top : 0;
 		}
 }
@media (min-width : 768px) {}
@media (min-width : 992px) {}
@media (min-width : 1200px) {}

/* 006. content-ranking
 * rankingのスタイルを定義します
 * ========================================================================== */
 #content-ranking {
 	padding : 10px;
 	}
 	#content-ranking .container {
 		position      : relative;
 		padding       : 20px;
 		border-radius : 10px;
 		box-shadow    : 0 0 6px rgba(0,0,0,0.4);
 		background    : rgba(255,255,255,0.4);
 		}

 		#content-ranking .container2 {
 			position      : relative;
 			padding       : 20px;
 			border-radius : 10px;
 			box-shadow    : 0 0 6px rgba(0,0,0,0.4);
 			background    : rgba(255,255,255,0.4);
 			width:	75%;
 			margin-left: auto;
 			margin-right: auto;
 			}

 		#content-ranking h1 {
 			margin-top     : 0;
 			color          : #333333;
 			font-family    : "Dosis",'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
 			font-size      : 42px;
 			font-weight    : 700;
 			line-height    : 1;
 			letter-spacing : 0.1em;
 			}
 			#content-ranking h1:after {
 				content        : "";
 				display        : inline-block;
 				position       : relative;
 				top            : -3px;
 				width          : 18px;
 				height         : 6px;
 				margin-left    : 0.1em;
 				border-radius  : 3px;
 				vertical-align : middle;
 				background     : #f0b209;
 				}
 		#content-ranking .col-xs-12 + .col-xs-12 {
 			margin-top : 0px;
 			}


 		#content-ranking .col-sm-4 {
 			text-align: center;
 		}

 		#content-ranking img {
 			max-width: 100%;
 			height: auto;
 		}
 		#content-ranking .section-data {
 			padding       : 20px;
 			border-radius : 8px;
 			background    : rgba(255,255,255,0.8);
 			box-shadow    : 0 0 6px rgba(0,0,0,0.4);
 			-webkit-box-sizing : border-box;
 			-moz-box-sizing    : border-box;
 			box-sizing         : border-box;
 			}
 			#content-ranking h2 {
 				margin-top     : 0;
 				margin-bottom  : 0.5em;
 				font-family    : "Dosis",'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
 				font-size      : 20px;
 				font-weight    : 700;
 				line-height    : 1.2;
 				}
 				#content-ranking h2 br {
 					display : block;
 					}

 @media (min-width : 480px) {
 #content-ranking {
 	padding : 10px 20px 20px 20px;
 	}
 	#content-ranking .section-data {}
 		#content-ranking h2 {
 			font-size : 28px;
 			}
 			#content-ranking h2 br {
 				display : block;
 					}
 }
 @media (min-width : 768px) {}
 @media (min-width : 992px) {
 #content-ranking {}
 	#content-ranking .col-xs-12 + .col-xs-12 {
 		margin-top : 0;
 		}
 }


 /* 006. content-home
  * rankingのスタイルを定義します
  * ========================================================================== */
  #content-home {
  	padding : 10px;
  	}
  	#content-home .container {
  		position      : relative;
  		padding       : 20px;
  		border-radius : 10px;
  		box-shadow    : 0 0 6px rgba(0,0,0,0.4);
  		background    : rgba(255,255,255,0.4);
  		}

  		#content-home .container2 {
  			position      : relative;
  			padding       : 20px;
  			border-radius : 10px;
  			box-shadow    : 0 0 6px rgba(0,0,0,0.4);
  			background    : rgba(255,255,255,0.4);
  			width:	75%;
  			margin-left: auto;
  			margin-right: auto;
  			}

  		#content-home h1 {
  			margin-top     : 0;
  			color          : #333333;
  			font-family    : "Dosis",'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
  			font-size      : 42px;
  			font-weight    : 700;
  			line-height    : 1;
  			letter-spacing : 0.1em;
  			}
  			#content-home h1:after {
  				content        : "";
  				display        : inline-block;
  				position       : relative;
  				top            : -3px;
  				width          : 18px;
  				height         : 6px;
  				margin-left    : 0.1em;
  				border-radius  : 3px;
  				vertical-align : middle;
  				background     : #f0b209;
  				}
  		#content-home .col-xs-12 + .col-xs-12 {
  			margin-top : 0px;
  			}


  		#content-home .col-sm-4 {
  			text-align: center;
  		}

  		#content-home img {
  			max-width: 100%;
  			height: auto;
  		}
  		#content-home .section-data {
  			padding       : 20px;
  			border-radius : 8px;
  			background    : rgba(255,255,255,0.8);
  			box-shadow    : 0 0 6px rgba(0,0,0,0.4);
  			-webkit-box-sizing : border-box;
  			-moz-box-sizing    : border-box;
  			box-sizing         : border-box;
  			}
  			#content-home h2 {
  				margin-top     : 0;
  				margin-bottom  : 0.5em;
  				font-family    : "Dosis",'メイリオ', Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'ＭＳ Ｐゴシック', sans-serif;
  				font-size      : 20px;
  				font-weight    : 700;
  				line-height    : 1.2;
  				}
  				#content-home h2 br {
  					display : block;
  					}

  @media (min-width : 480px) {
  #content-home {
  	padding : 10px 20px 20px 20px;
  	}
  	#content-home .section-data {}
  		#content-home h2 {
  			font-size : 28px;
  			}
  			#content-home h2 br {
  				display : block;
  					}
  }
  @media (min-width : 768px) {}
  @media (min-width : 992px) {
  #content-home {}
  	#content-home .col-xs-12 + .col-xs-12 {
  		margin-top : 0;
  		}
  }



/* 007. footer
 * footerのスタイルを定義します
 * ========================================================================== */
#footer {
	margin-top: 60px;
	padding : 10px;
	}
	#footer .container {
		position      : relative;
		padding       : 20px;
		border-radius : 10px;
		box-shadow    : 0 0 6px rgba(0,0,0,0.4);
		text-align    : center;
		background    : rgba(255,255,255,0.8);
		}
		#footer .btn-pagetop {
			display         : block;
			position        : fixed;
			right           : 10px;
			bottom          : 20px;
			width           : 60px;
			height          : 60px;
			padding-top     : 22px;
			border-radius   : 30px;
			color           : #000000;
			font-size       : 12px;
			line-height     : 1.2;
			text-decoration : none;
			background      : rgba(255,255,255,0.8);
			box-shadow      : 0 0 6px rgba(0,0,0,0.4);
			-webkit-box-sizing : border-box;
			-moz-box-sizing    : border-box;
			box-sizing         : border-box;
			}
			#footer .btn-pagetop > span {
				position    : absolute;
				left        : 50%;
				top         : 8px;
				margin-left : -6px;
				}
			#footer .btn-pagetop br {
				display : block;
				}
		#footer p {
			margin     : 5px 0 0 0;
			}
		#footer small {
			margin      : 0;
			font-size   : 10px;
			line-height : 10px;
			text-align  : center;
			}

@media (min-width : 480px) {
#footer {
	margin-top : 50px;
	padding    : 10px 20px 20px 20px;
	}
	#footer .container {
		padding : 20px;
		}
		#footer p {
			margin     : 5px 0 0 0;
			}
		#footer small {
			font-size   : 85%;
			line-height : 1.2;
			}
		#footer br {
			display : none;
			}
}

/* 008. imagelightbox
 * lightboxのスタイルを定義します
 * ========================================================================== */
#imagelightbox {
	cursor   : pointer;
	position : fixed;
	z-index  : 10000;
	-ms-touch-action : none;
	touch-action     : none;
	-webkit-box-shadow : 0 0 3.125em rgba( 0, 0, 0, .75 );
	box-shadow         : 0 0 3.125em rgba( 0, 0, 0, .75 );
	}
	button {
		border : none;
		}
	/* ACTIVITY INDICATION */
	#imagelightbox-loading,
	#imagelightbox-loading div {
		border-radius: 50%;
		}
		#imagelightbox-loading {
			width: 2.5em; /* 40 */
			height: 2.5em; /* 40 */
			background-color: #444;
			background-color: rgba( 0, 0, 0, .5 );
			position: fixed;
			z-index: 10003;
			top: 50%;
			left: 50%;
			padding: 0.625em; /* 10 */
			margin: -1.25em 0 0 -1.25em; /* 20 */

			-webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
			box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
			}
			#imagelightbox-loading div {
				width: 1.25em;
				height: 1.25em;
				background-color: #fff;

				-webkit-animation: imagelightbox-loading .5s ease infinite;
				animation: imagelightbox-loading .5s ease infinite;
				}

			@-webkit-keyframes imagelightbox-loading {
				from { opacity: .5;	-webkit-transform: scale( .75 ); }
				50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
				to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
				}
			@keyframes imagelightbox-loading {
				from { opacity: .5;	transform: scale( .75 ); }
				50%	 { opacity: 1;	transform: scale( 1 ); }
				to	 { opacity: .5;	transform: scale( .75 ); }
				}
		/* OVERLAY */
		#imagelightbox-overlay {
			background-color: #fff;
			background-color: rgba( 255, 255, 255, .9 );
			position: fixed;
			z-index: 9998;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			}
		/* "CLOSE" BUTTON */
		#imagelightbox-close {
			width: 2.5em; /* 40 */
			height: 2.5em; /* 40 */
			text-align: left;
			background-color: #666;
			border-radius: 50%;
			position: fixed;
			z-index: 10002;
			top: 2.5em; /* 40 */
			right: 2.5em; /* 40 */

			-webkit-transition: color .3s ease;
			transition: color .3s ease;
			}
			#imagelightbox-close:hover,
			#imagelightbox-close:focus {
				background-color: #111;
				}
			#imagelightbox-close:before,
			#imagelightbox-close:after {
				width: 2px;
				background-color: #fff;
				content: '';
				position: absolute;
				top: 20%;
				bottom: 20%;
				left: 50%;
				margin-left: -1px;
				}
			#imagelightbox-close:before {
				-webkit-transform: rotate( 45deg );
				-ms-transform: rotate( 45deg );
				transform: rotate( 45deg );
				}
			#imagelightbox-close:after {
				-webkit-transform: rotate( -45deg );
				-ms-transform: rotate( -45deg );
				transform: rotate( -45deg );
				}
		/* CAPTION */
		#imagelightbox-caption {
			text-align: center;
			color: #fff;
			background-color: #666;
			position: fixed;
			z-index: 10001;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 0.625em; /* 10 */
			}
		/* NAVIGATION */
		#imagelightbox-nav {
			background-color: #444;
			background-color: rgba( 0, 0, 0, .5 );
			border-radius: 20px;
			position: fixed;
			z-index: 10001;
			left: 50%;
			bottom: 3.75em; /* 60 */
			padding: 0.313em; /* 5 */

			-webkit-transform: translateX( -50% );
			-ms-transform: translateX( -50% );
			transform: translateX( -50% );
			}
			#imagelightbox-nav button {
				width: 1em; /* 20 */
				height: 1em; /* 20 */
				background-color: transparent;
				border: 1px solid #fff;
				border-radius: 50%;
				display: inline-block;
				margin: 0 0.313em; /* 5 */
				}
			#imagelightbox-nav button.active {
				background-color: #fff;
				}
		/* ARROWS */
		.imagelightbox-arrow {
			width: 3.75em; /* 60 */
			height: 7.5em; /* 120 */
			background-color: #444;
			background-color: rgba( 0, 0, 0, .5 );
			vertical-align: middle;
			display: none;
			position: fixed;
			z-index: 10001;
			top: 50%;
			margin-top: -3.75em; /* 60 */
			}
		.imagelightbox-arrow:hover,
		.imagelightbox-arrow:focus {
			background-color: #666;
			background-color: rgba( 0, 0, 0, .75 );
			}
		.imagelightbox-arrow:active {
			background-color: #111;
			}
			.imagelightbox-arrow-left {
				left: 2.5em; /* 40 */
				}
			.imagelightbox-arrow-right {
				right: 2.5em; /* 40 */
				}
			.imagelightbox-arrow:before {
				width: 0;
				height: 0;
				border: 1em solid transparent;
				content: '';
				display: inline-block;
				margin-bottom: -0.125em; /* 2 */
				}
				.imagelightbox-arrow-left:before {
					border-left: none;
					border-right-color: #fff;
					margin-left: -0.313em; /* 5 */
					}
				.imagelightbox-arrow-right:before {
					border-right: none;
					border-left-color: #fff;
					margin-right: -0.313em; /* 5 */
					}
		#imagelightbox-loading,
		#imagelightbox-overlay,
		#imagelightbox-close,
		#imagelightbox-caption,
		#imagelightbox-nav,
		.imagelightbox-arrow {
			-webkit-animation: fade-in .25s linear;
			animation: fade-in .25s linear;
			}
			@-webkit-keyframes fade-in {
				from	{ opacity: 0; }
				to		{ opacity: 1; }
				}
			@keyframes fade-in {
				from	{ opacity: 0; }
				to		{ opacity: 1; }
				}

		@media only screen and (max-width: 41.250em) {
			#container {
				width: 100%;
				}

				#container2 {
					width: 80%;
					}

			#imagelightbox-close {
				top: 1.25em; /* 20 */
				right: 1.25em; /* 20 */
				}
			#imagelightbox-nav {
				bottom: 1.25em; /* 20 */
				}

			.imagelightbox-arrow {
				width: 2.5em; /* 40 */
				height: 3.75em; /* 60 */
				margin-top: -2.75em; /* 30 */
				}
			.imagelightbox-arrow-left {
				left: 1.25em; /* 20 */
				}
			.imagelightbox-arrow-right {
				right: 1.25em; /* 20 */
				}
		}

		@media only screen and (max-width: 20em) {
			.imagelightbox-arrow-left {
				left: 0;
				}
			.imagelightbox-arrow-right {
				right: 0;
				}
		}

		.btn-black{
			color: #fff;
			background-color: rgba(0, 0, 0, 0.7);;
			border-color: #000 solid double;;
		}

		.btn-black:hover{
			color: #fff;
			background-color: #999;
			border-color: #333;
		}


		.foldtl {
			  position: relative;
			  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
			  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
			  box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
			}

			.foldtl:before {
			  content: "";
			  position: absolute;
			  top: 0%;
			  left: 0%;
			  width: 0px;
			  height: 0px;
			  border-bottom: 70px solid #eee;
			  border-left: 70px solid transparent;
			  -webkit-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
			  -moz-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
			  box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
			}

			.foldtl:after {
			  content: "";
			  position: absolute;
			  top: 0%;
			  left: 0%;
			  width: 0px;
			  height: 0px;
			  border-top: 69px solid rgb(240, 232, 222);
			  border-right: 69px solid transparent;

			}


			#form1{
  width:35%;
	top: 25%;
	left: 30%;
  padding: 20px;
  border: 1px solid #555;
  }

form1 p{
    font-size: 14px;
    }

.form1-title{
  text-align: center;
  }

.mail,.pass{
  margin-bottom: 20px;
  }

input[type="email"],
input[type="password"] {
  width: 70%;
  padding: 4px;
  font-size: 14px;
  }

.submit{
  text-align: right;
  }

/* font */
#form1 p{
  color: #077685;
  font-weight: bold;
  }

#form1 .form-title{
  font-family: Arial;
  font-size: 30px;
  color: #4eb4c2;
  }

/* skin */
#form1{
	position: absolute;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 10px #488a9e;
  -moz-box-shadow: 0px 1px 10px #488a9e;
  box-shadow: 0px 1px 10px #488a9e;
  border: solid #4eb4c2 1px;
  background: #fafafa;
  }

#form1 .form-title{
  padding-bottom: 6px;
  border-bottom: 2px solid #4eb4c2;
  margin-bottom: 20px;
  }

.submit input{
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 6px #e3e3e3;
  -moz-box-shadow: 0px 8px 6px #e3e3e3;
  box-shadow: 0px 8px 6px #e3e3e3;
  border: solid #f5fdff 4px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#61c7e0), to(#418da8));
  background: -moz-linear-gradient(top, #61c7e0, #418da8);
  }
.submit input:hover{
  background: #37a4bf;
 }



 #form2{
 width: 400px;
 top: 25%;
 left: 35%;
 padding: 20px;
 border: 1px solid #555;
 }

 form2 p{
 font-size: 14px;
 }

 .form2-title{
 text-align: center;
 }

 #form2 p{
   color: #077685;
   font-weight: bold;
   }

 #form2 .form-title{
   font-family: Arial;
   font-size: 30px;
   color: #4eb4c2;
   }

 /* skin */
 #form2{
 	position: absolute;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: 0px 1px 10px #488a9e;
   -moz-box-shadow: 0px 1px 10px #488a9e;
   box-shadow: 0px 1px 10px #488a9e;
   border: solid #4eb4c2 1px;
   background: #fafafa;
   }

 #form2 .form-title{
   padding-bottom: 6px;
   border-bottom: 2px solid #4eb4c2;
   margin-bottom: 20px;
   }

#text-search{
	background-color: transparent;
	border: none;
}

#home-img1{

	margin-top: 15px;
}

.row1 {
  margin-right: 60px;
  margin-left: 60px;
}
